*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.begin{
    background-color: #333;
    color:#080;
    min-width:100%;
    min-height:20vh;
    justify-content: center;
    text-align: center;
    padding: .5rem;
}
.begin h1{
    font-size: 6rem;
text-shadow: 1px 2px 2px #0d0;
    margin: 1rem 0 1rem;
}
.begin span{
    color: #ddd;
    font-size: 2rem;   
    margin-bottom: 2rem;
}
.medium{
    background-color: #000;
    color: #ad5;
    min-width:100%;
    min-height: 70vh;
}
.medium h2{
    text-align: center;
    justify-content: center;
    padding: 1rem;
}
.medium__section{
    background-color:transparent;
    color: #aa5;
}
.medium__section > article {
    background-color: #fff;
    color: #ad5;
}
.final{
    background-color: #777;
    min-width: 100%;
    min-height: 10vh;
    padding: 1em;
    display: flex;
    flex-direction: column;
    align-items:flex-end
}
.final ul {
    list-style: none;
    display: flex;
    flex-direction: row;
}
.final__1 li{
    padding:0 1em 0 0;
    font-size: 2em;  
}
.final__2{
    display: flex;
    
}
.final__2  button{
    margin:.3em 1.1em;
    font-size: 3em;
}
