*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.begin{
    background-color: #333;
    color:#080;
    width:100vw;
    height:20vh;
}
.begin span{
    color: #ddd;   
}
.medium{
     background-color: #000;
    color: #ad5;
    width:100vw;
    height: 50vh;
}
.medium__section{
    background-color:transparent;
    color: #aa5;
}
.medium__section > article {
    background-color: #fff;
    color: #ad5;
}
.final{
    background-color: #777;
}

